:root {
    --dacxi-color: rgba(33, 3, 114, 0.849);
    --soft-blue: rgba(33, 12, 150, 0.459);
}
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;   
}

@keyframes  appear{
    from {opacity: 0;}
    to {opacity: 100;}
  }